<!DOCTYPE html>
<html>
  <head>
    <title>SKINCARE</title>
    <style>
        body {text-align: center;}
    </style>
  </head>
  <body>
    <h1>ORDER HAVE BEEN PROCESSED</h1>
    <p>
        <%- include('./partial/navbarYesUser') %>
    </p>
  </body>
</html>