<!DOCTYPE html>
<html>
  <head>
    <title>SKINCARE</title>
    <style>
        body {text-align: center;}
    </style>
  </head>
  <body>
    <h1>SKINCARE HOMEPAGE</h1>
    <p>
        <a href="/user/<%= UserId %>/">HOME</a> | <a href="/product">PRODUCT</a> | <a href="/user/logout">LOGOUT</a>
    </p>
    <h2><a href="/user/<%= UserId %>/skin-type">BEGIN</a></h2>
  </body>
</html>