<!DOCTYPE html>
<html>
  <head>
    <title>SKINCARE</title>
    <style>
        body {text-align: center;}
    </style>
  </head>
  <body>
    <h1>SKINCARE HOMEPAGE</h1>
    <p>
      <%- include('./partial/navbarYesUser') %>
    </p>
    <h2><a href="/user/<%= data.id %>/skin-type">BEGIN</a></h2>
  </body>
</html>