
<!DOCTYPE html>
<html>
  <head>
    <title>Login Form</title>
    <style>
        body {text-align: center;}
    </style>
  </head>
  <body>
    <h1>Login Form</h1>
    <p>
        <a href="/">HOME</a> | <a href="/product">PRODUCT</a> | <a href="/user/register">REGISTER</a> | <a href="/user/login">LOGIN</a>
    </p>
    <form method = "POST">
        <h3>Login: <br></h3>
        Email: <input type = "email" name = "email" placeholder="Your email" required><br><br>
        Password: <input type = "password" name = "password" minlength="8" placeholder="Your password" id="input" required><input type="checkbox" onclick="showPassword()">Show Password<br><br>
        <input type = "submit" value = "Login"><br><br>
    </form>
    <script>
        function showPassword() {
          var x = document.getElementById("input");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
    </script>
  </body>
</html>