
<!DOCTYPE html>
<html>
  <head>
    <title>Registration Form</title>
    <style>
        body {text-align: center;}
    </style>
  </head>
  <body>
    <h1>Registration Form</h1>
    <p>
      <%- include('./partial/navbarNoUser') %>
    </p>
    <form method = "POST">
        <h3>Register new user: <br></h3>
        Name: <input type = "text" name = "name" placeholder="Your name" required><br><br>
        Email: <input type = "email" name = "email" placeholder="Your email" required><br><br>
        Password: <input type = "password" name = "password" minlength="8" placeholder="Your password" id="input" required><input type="checkbox" onclick="showPassword()">Show Password<br><br>
        Address: <input type = "text" name = "address" placeholder="Your shipment address" required><br><br>
        <input type = "submit" value = "Register"><br><br>
    </form>
    <script>
        function showPassword() {
          var x = document.getElementById("input");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
    </script>
  </body>
</html>