<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<head>
  <title>Registration Form</title>
  <style>
    body {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="text-center">
      <h1>Registration Form</h1>
      <p>
        <%- include('./partial/navbarNoUser') %>
      </p>
      <form method="POST">
        <h3>Register new user: <br></h3>
        Name: <br><input type="text" name="name" placeholder="Your name" required><br><br>
        Email: <br><input type="email" name="email" placeholder="Your email" required><br><br>
        Password: <br><input type="password" name="password" minlength="8" placeholder="Your password" id="input"
          required><br><input type="checkbox" onclick="showPassword()">Show Password<br><br>
        Address: <br><input type="text" name="address" placeholder="Your shipment address" required><br><br>
        <input type="submit" value="Register" class="btn btn-secondary"><br><br>
      </form>
      <script>
        function showPassword() {
          var x = document.getElementById("input");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
      </script>
      <%- include('./partial/footer') %>
    </div>
  </div>
</body>

</html>