
<!DOCTYPE html>
<html>
  <head>
    <title>Skin Type Form</title>
    <style>
        body {text-align: center;}
    </style>
  </head>
  <body>
    <h1>Skin Type Form</h1>
    <p>
      <%- include('./partial/navbarYesUser') %>
    </p>
    <form method = "POST">
        <h3>Select your skin type: <br></h3>
        <input type = "radio" name = "skin_type" value="dry">Dry<br><br>
        <input type = "radio" name = "skin_type" value="oily">Oily<br><br>
        <input type = "radio" name = "skin_type" value="combination">Combination<br><br>
        <input type = "radio" name = "skin_type" value="normal">Normal<br><br>
        <input type = "submit" value = "Submit"><br><br>
    </form>
  </body>
</html>