<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <style>
        #sticky-footer {
            flex-shrink: 0;

        }

        #page-content {
            flex: 1 0 auto;
        }
    </style>
    <div class="container text-center">
        <small>Copyright &copy; Skin Type</small>
    </div>
</footer>